{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}

    <div class="container">
    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Accompli</th>
                <th>Priorité</th>
                <th>Tag(s)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.Accomplished ? '<p class="btn btn-success">Oui<p>' : '<p class="btn btn-danger">Non<p>' }}</td>
                <td>{{ task.priority }}</td>
                <td>
                    {% for type in task.types %}
                        <button type="button" class="btn btn-outline-primary">#{{ type.type }}</button>
                    {% endfor %}
                </td>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-dark">
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">Détails</a>
                    </button>
                    <button type="button" class="btn btn-outline-dark">
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <button type="button" class="btn btn-dark">
              <a href="{{ path('app_task_new') }}">Créer une nouvelle tâche</a>
        </button>
    </div>
{% endblock %}
