{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container">
    <h2>{{ task.title }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Accomplished</th>
                <td>{{ task.Accomplished ? '<p class="btn btn-success">Oui<p>' : '<p class="btn btn-danger">Non<p>' }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ task.priority }}</td>
            </tr>
            <tr>
                <th>Tag(s)</th>
                <td>
                {% for type in task.types %}
                    <button type="button" class="btn btn-outline-primary">#{{ type.type }}</button>

                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
        <button type="button" class="btn btn-outline-primary">
    <a href="{{ path('app_task_index') }}">Retour à la liste</a>
        </button>
        <button type="button" class="btn btn-outline-primary">
    <a href="{{ path('app_task_edit', {'id': task.id}) }}">Modifier</a>
        </button>
    {{ include('task/_delete_form.html.twig') }}
    </div>
{% endblock %}
